<div class="container">
  <div class="curosel_container"> 
    <app-curosel></app-curosel>
  </div>
  <div class="col_container">
    <div class="row">
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
      <div class="col  col_class"></div>
    </div>
  </div>
  
</div>
