<!-- <div class="card card-main">
  <div class="inner-card">
    <img class="image" src="../../assets/img/smallSquare.PNG">

  </div>
  <div class="header-text">
    <p>Get Device</p>
  </div>
  <div class="header-sub-text">
    <a>Click here ></a>
  </div>
</div> -->
<div class="text">
    <div>
        <a>What are you</a>
    </div>
    <div>
        <b>Here to do?</b>
    </div>
</div>
<div class="container">
    <div class="curousel" #container>
        <div class="card" #cell id="1">
            <div>
                <img class="image" src="../../assets/img/smallSquare.PNG">
            </div>
            <div class="header-text">
                <p>Get a device</p>
            </div>
            <div class="header-sub-text">
                <a>START HERE ></a>
            </div>
        </div>
        <div class="card" #cell id="2">
            <div>
                <img class="image" src="../../assets/img/smallSquare.PNG">
            </div>
            <div class="header-text">
                <p>Add a phone-line</p>
            </div>
        </div>
        <div class="card" #cell id="3">
            <div>
                <img class="image" src="../../assets/img/smallSquare.PNG">
            </div>
            <div class="header-text">
                <p>Upgrade</p>
            </div>
        </div>
        <div class="card" #cell id="4">
            <div>
                <img class="image" src="../../assets/img/smallSquare.PNG">
            </div>
            <div class="header-text">
                <p>Home internet</p>
            </div>
        </div>
        <div class="card" #cell id="5">
            <div class="header-text">
                <img class="image" src="../../assets/img/smallSquare.PNG">
            </div>
            <div class="header-text">
                <p>Mobile internet</p>
            </div>
        </div>

    </div>
    <div class="navigation-buttons">
        <div class="pre" style="cursor: pointer;">
            <i class="fa fa-chevron-circle-left" aria-hidden="true" (click)="animateSlides(-1)"></i></div>
        <div class="next" style="cursor: pointer;">
            <i class="fa fa-chevron-circle-right" aria-hidden="true" (click)="animateSlides(1)"></i></div>

    </div>

</div>