<owl-carousel-o [options]="customOptions" #owlElement>
  <ng-template carouselSlide *ngFor="let item of images;let i = index" style="margin:10px">
    <div>
      <mat-card class="example-card">
        <img mat-card-image src={{item}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="card-body">
            <h4 class="card-title title_card">Get a device</h4>
            <p class="title_card_body">Click here</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>    
  </ng-template>
</owl-carousel-o>


